html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #e8d4f5;
}

.firsttext {
  text-align: center;
  color: #b57ddb;
  font-size: 25px;
}

.cell {
  width: 100%;
  height: 100%;
  
}

.cell.is-bridge {
  background-color: rgb(36, 11, 36);
  box-shadow:  5px 5px 5px 5px rgb(120, 58, 122), 0 0 10em #1b0529;
              
 
}
.cell.is-finish{
  background-color: rgb(189, 121, 189);
  box-shadow:  5px 5px 5px 5px rgb(161, 88, 165), 0 0 10em #1b0529;
  color: #1c0929;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.cell.is-bridge.is-coins.cell--active{
  background-image:url('./duckling.png');
  background-color: rgb(36, 11, 36);
   background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}
.cell.is-coins {
  background-image: url('coin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100%;
  height: 100%;
}
.cell--active {
  background-image:url('./duckling.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.cell.is-bridge.cell--active{
  background-image:url('./duckling.png');
   background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;

}
.cell.is-coins.cell--active{
  background: url('./duckling.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;

}

h1 {

  font-size: 60px;
  text-align: center;
  color: #370455;
  text-shadow: 5px 5px 10px rgb(120, 58, 122), 0 0 10em #b57ddb;
}

.firsttext,
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.colortext {
  color: #540164;
}


.page {
  display: none;
  width: 100%;
  height: 100%;
}

.page.active {
  display: grid;
}

.page#intro {
  grid-template-columns: 1fr;
  grid-template-rows: 150px 50px 200px 150px ;
  place-items: center;
}

.page#timer {
  grid-template-columns: 1fr;
  grid-template-rows: 150px 200px 300px;
  place-items: center;
}

.page#game-over {
  grid-template-columns: 1fr;
  grid-template-rows: 150px 100px 100px;
  place-items: center;

}
.page#finish {
  grid-template-columns: 1fr;
  grid-template-rows: 150px 100px 100px 100px;
  place-items: center;
  
}
.page#main {
  grid-template-columns: repeat(10, 1fr );
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
}
.page#end-of-the-game {
  grid-template-columns: 1fr;
  grid-template-rows: 150px 100px 150px 100px;
  place-items: center;
  
}

#time {
  text-align: center;
  color: #481a52;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgb(120, 58, 122), 0 0 10em #b57ddb;
}

.start {
  text-align: center;
  color: #ff0000;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
}

.restart {
  text-align: center;
  color: #ff0000;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
}
.nextLevel{
  text-align: center;
  color: #ff0000;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
}
.restartGame{
  text-align: center;
  color: #ff0000;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
}
img {
  width: 200px;
  height: 200px;
}

.elem {

  border: 1px solid rgb(132, 216, 14);
  width: 50px;
  height: 50px;
}